.composer-require-checker.json export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitlab-ci.yml export-ignore
.gitignore export-ignore
.phpcq.lock export-ignore
.phpcq.yaml.dist export-ignore
phpcs.xml.dist export-ignore
psalm.xml export-ignore
.ddev export-ignore
companion.json export-ignore
