.ce_hofff_recursive-download-folder .folder > a,
.ce_hofff_recursive-download-folder .folder > span
{
	font-weight: bold;
}
.ce_hofff_recursive-download-folder .folder > a
{
	cursor: pointer;
}

.ce_hofff_recursive-download-folder .folder-empty > span
{
	filter: alpha(opacity = 55); /* IE 6, 7, 8 */
	-ms-filter: "alpha(opacity = 55)"; /* ab IE 8 zusätzlich möglich */
	opacity: .55; /* alle anderen Browser einschließlich IE 9 */
}

.ce_hofff_recursive-download-folder .folder > ul
{
	display: none;
}

.ce_hofff_recursive-download-folder .folder-open > ul
{
	display: block;
}