.ce_hofff_recursive-download-folder .folder > a
{
	font-weight: bold;
	cursor: pointer;
}

.ce_hofff_recursive-download-folder .folder > ul
{
	display: none;
}

.ce_hofff_recursive-download-folder .folder-open > ul
{
	display: block;
}